/* ==========================================
Attachments
========================================== */

.attachment-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    border-bottom:1px solid #ececec;

}

.attachment-item:hover{

    background:#f8f9fa;

}

.attachment-name{

    font-weight:500;

}

.attachment-actions button{

    margin-left:10px;

}