/*=====================================
Buttons
======================================*/

.btn-primary-custom{

    background:var(--primary);

    color:white;

    border:none;

    padding:12px 24px;

    border-radius:12px;

    transition:.3s;

}

/* Hover animation */
.btn-primary-custom:hover{

    transform:translateY(-2px);

    background:#003E99;

}

/*=====================================
Cards
======================================*/

.card-custom{

    background:white;

    border:none;

    border-radius:16px;

    box-shadow:var(--shadow-sm);

    transition:.3s;

}

/* Card hover effect */
.card-custom:hover{

    transform:translateY(-4px);

    box-shadow:var(--shadow-md);

}

/*=====================================
Status Chips
======================================*/

.status{

    padding:5px 12px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.status-success{

    background:#DFF7EA;

    color:#007A3D;

}

.status-warning{

    background:#FFF5D8;

    color:#A66A00;

}

.status-danger{

    background:#FFE5E0;

    color:#A62F13;

}