/* ==========================================
Cards
========================================== */

.card-custom{

    background:white;

    border:none;

    border-radius:12px;

    padding:25px;

    margin-bottom:25px;

    box-shadow:var(--shadow);

}

/* Buttons */

.btn-primary-custom{

    background:var(--primary);

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    font-weight:600;

    transition:.3s;

}

.btn-primary-custom:hover{

    background:var(--primary-dark);

}

/* Badge */

.badge-status{

    padding:8px 14px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}