/* Layout */


.main-wrapper{

    display:flex;

    min-height:100vh;

}

.content{

    flex:1;

    padding:30px;

    margin-left:260px;

    transition:.3s;

}

.page-title{

    font-size:28px;

    font-weight:700;

    margin-bottom:25px;

}
/* ==========================================
   Sidebar
========================================== */

.sidebar{

    position:fixed;

    top:0;

    left:0;

    width:260px;

    height:100vh;

    background:#0B5ED7;

    color:white;

    overflow-y:auto;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    z-index:1000;

}

.sidebar-header{

    font-size:24px;

    font-weight:700;

    text-align:center;

    padding:25px;

    border-bottom:1px solid rgba(255,255,255,.2);

}

.sidebar-menu{

    list-style:none;

    padding:20px 0;

    margin:0;

}

.sidebar-menu li{

    margin-bottom:5px;

}

.sidebar-menu a{

    display:flex;

    align-items:center;

    gap:15px;

    color:white;

    padding:14px 25px;

    transition:.3s;

}

.sidebar-menu a:hover{

    background:rgba(255,255,255,.15);

    padding-left:35px;

}

.sidebar-menu i{

    width:20px;

}
.sidebar.collapsed{

    width:80px;

}

.sidebar.collapsed span{

    display:none;

}

.sidebar.collapsed + .content{

    margin-left:80px;

}
@media(max-width:992px){

    .sidebar{

        left:-260px;

        transition:.3s;

    }

    .sidebar.show{

        left:0;

    }

    .content{

        margin-left:0;

        padding:20px;

    }

}
/* ==========================================
   Navbar
========================================== */

.navbar-custom{

    height:70px;

    background:white;

    border-radius:12px;

    box-shadow:var(--shadow);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

    margin-bottom:30px;

}

.menu-btn{

    border:none;

    background:none;

    font-size:24px;

    cursor:pointer;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:25px;

}

.profile-image{

    width:42px;

    height:42px;

    border-radius:50%;

    object-fit:cover;

}
