<div class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <i class="fa-solid fa-building-columns"></i>

        <span>PS-SRMS</span>

    </div>


    <a href="/dashboard">

        <a href="/requests">

            <a href="/requests/create">

                <a href="/analytics">

                    <a href="/reports">

                        <a href="/notifications">

                            <a href="/profile">

                                <a href="/logout"></a></div>